@keyframes move-text-color {
	0% {
		bottom: -0.2em;
		opacity: 1;
	}

	50% {
		bottom: 0.2em;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}

.app {
	height: 100vh;
	color: var(--text-primary);
	background-color: var(--background);
	transition: all 0.5s;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 47px);
}

.gameWrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

/* WordGrid */
.row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 8px;
	text-align: center;
	height: 100px;
}

span {
	border: 3px solid var(--border);
	font-size: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 75px;
}

span.active {
	position: relative;
	animation: move-text-color 0.25s forwards;
	bottom: -1em;
	opacity: 0;
	background-color: #787c7e;
	border-color: #787c7e;
	color: #fff;
}

span.correct {
	background-color: #6aaa64;
	border-color: #6aaa64;
}

span.mismatch {
	background-color: #c9b458;
	border-color: #c9b458;
}

@media (max-width: 450px) {
	span {
		font-size: 40px;
	}
}

/* TopNav */
nav {
	padding: 5px 10px;
	border-bottom: 1px solid #adadad;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin: 0;
	text-transform: uppercase;
}

nav button {
	border: 0;
	cursor: pointer;
	color: var(--text-primary);
	background-color: var(--background);
	transition: all 0.5s;
}

/* WordInput */
input {
	padding: 15px;
	font-size: 25px;
	border-radius: 2px;
	border: 2px solid #adadad;
	width: 100%;
}
