@keyframes move-text-color {
	0% {
		bottom: -0.2em;
		opacity: 1;
	}

	50% {
		bottom: 0.2em;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}

.app {
	height: 100vh;
	color: var(--text-primary);
	background-color: var(--background);
	transition: all 0.5s;
}
button {
	color: var(--text-primary);
	background-color: var(--background);
	transition: all 0.5s;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 41px);
}

.row {
	display: flex;
	gap: 8px;
	margin-bottom: 8px;
}

h1 {
	margin: 0;
}

span {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid var(--border);
	width: 100px;
	height: 100px;
	font-size: 65px;
}

span.active {
	position: relative;
	animation: move-text-color 0.25s forwards;
	bottom: -1em;
	opacity: 0;
	background-color: #787c7e;
	border-color: #787c7e;
	color: #fff;
}

span.correct {
	background-color: #6aaa64;
	border-color: #6aaa64;
}

span.mismatch {
	background-color: #c9b458;
	border-color: #c9b458;
}

/* TOP NAV */
nav {
	padding: 5px 10px;
	border-bottom: 1px solid #adadad;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

input {
	padding: 15px;
	font-size: 25px;
	border-radius: 2px;
	border: 2px solid #adadad;
	width: 100%;
}
