:root {
	--background: #fff;
	--text-primary: black;
	--border: #9d9d9e;
}

[data-theme="dark"] {
	--background: #22272e;
	--text-primary: #fff;
	---boder: #7f7f7f;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "Work Sans", sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
